<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  * Created by https://github.com/braver-tool on 12/10/21, 08:30 PM
  ~  * Copyright (c) 2021 . All rights reserved.
  ~  * Last modified 15/11/21, 05:50 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braver.tool.filepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilePicker">
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickerActivity"
            android:exported="true" />
        <activity android:name="com.braver.tool.picker.CameraActivity" />
        <activity android:name=".PreviewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>